* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  background: transparent;
  border: 1px solid;
  margin: 0.5rem;
}

button:hover {
  background: #000;
  color: #fff;
}
